
<!-- <div style="width:100%;">
  <canvas id="myChart" width="700" height="250" #mychart></canvas>
</div> -->

<div class="grid-container">
  <h1 class="mat-h1">Estadísticas Generales</h1>

  <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content style="height: 100%; margin: 0;">
          <div style="height: 100%; display: flex; align-items: center; justify-content: space-between;">
            <div>
              <mat-icon style="color: green; font-size: 86px; width: 100%; height: 100%;">paid</mat-icon>
            </div>

            <div style="width: 100%; text-align: center;">
              <h2 style="margin: 0; font-size: 24px; font-weight: bold;">$14,520.22</h2>
              <p style="margin: 0;">
                Total Ventas Mensual
              </p>
              <p style="margin: 0; font-size: 12px; font-weight: 300;">
                <mat-icon style="color: lightgreen; font-weight: bold; font-size: 18px;">arrow_upward</mat-icon>
                <span>
                  10% desde el mes pasado
                </span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content style="height: 100%; margin: 0;">
          <div style="height: 100%; display: flex; align-items: center; justify-content: space-between;">
            <div>
              <mat-icon style="color: tomato; font-size: 86px; width: 100%; height: 100%;">shopping_cart</mat-icon>
            </div>

            <div style="width: 100%; text-align: center;">
              <h2 style="margin: 0; font-size: 24px; font-weight: bold;">274</h2>
              <p style="margin: 0;">
                Productos Vendidos Mensual
              </p>
              <p style="margin: 0; font-size: 12px; font-weight: 300;">
                <mat-icon style="color: red; font-weight: bold; font-size: 18px;">arrow_downward</mat-icon>
                <span>
                  8% desde el mes pasado
                </span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content style="height: 100%; margin: 0;">
          <div style="height: 100%; display: flex; align-items: center; justify-content: space-between;">
            <div>
              <mat-icon style="color: saddlebrown; font-size: 86px; width: 100%; height: 100%;">confirmation_number</mat-icon>
            </div>

            <div style="width: 100%; text-align: center;">
              <h2 style="margin: 0; font-size: 24px; font-weight: bold;">81</h2>
              <p style="margin: 0;">
                Tickets del Mes
              </p>
              <p style="margin: 0; font-size: 12px; font-weight: 300;">
                <mat-icon style="color: green; font-weight: bold; font-size: 18px;">arrow_upward</mat-icon>
                <span>
                  2% desde el mes pasado
                </span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content style="height: 100%; margin: 0;">
          <div style="height: 100%; display: flex; align-items: center; justify-content: space-between;">
            <div>
              <mat-icon style="color: lightseagreen; font-size: 86px; width: 100%; height: 100%;">people</mat-icon>
            </div>

            <div style="width: 100%; text-align: center;">
              <h2 style="margin: 0; font-size: 24px; font-weight: bold;">23</h2>
              <p style="margin: 0;">
                Clientes
              </p>
              <p style="margin: 0; font-size: 12px; font-weight: 300;">
                <mat-icon style="color: green; font-weight: bold; font-size: 18px;">arrow_upward</mat-icon>
                <span>
                  7% desde el mes pasado
                </span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            TOP 5 Productos más vendidos
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px;">
            <canvas width="700" height="230" #bestProductSeller></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Mejores Vendedores
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px;">
            <canvas width="700" height="230" #bestSeller></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="450px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ventas anuales
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="height: 100%;">
          <div style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px;">
            <canvas width="700" height="350" #anualSells></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
